<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         bootstrap="include.php"
         stopOnError="true"
         columns="true"
         colors="true"
         backupGlobals="false"
         verbose="true">
    <testsuite name="Diff">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="phpunit_clickhouse_host" value="tabix.dev7"/>
        <const name="phpunit_clickhouse_port" value="8123"/>
        <const name="phpunit_clickhouse_user" value="default"/>
        <const name="phpunit_clickhouse_pass" value=""/>
        <const name="phpunit_clickhouse_tmp_path" value="/tmp/"/>
    </php>

</phpunit>
